.Rojo{
    color:lightblue;
    background-color: olive;
}
.Azul{
    color:olive;
    background-color: lightblue;
}
.chico{
    font-size: 10px;
}
.mediano{
    font-size: 15px;
}
.largoo{
    font-size: 20px;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
  }

.logoi{
  width:50px;height:50px;
  
}
.logow{
  width:50px;height:50px;
  
}
.logof{
  width:50px;height:50px;
  
}

